.form-table th {
  padding-left: 20px;
}

.mini-title {
  margin-left: -10px;
  text-transform: uppercase;
}

#side-sortables .mini-title {
  margin-left: 0;
  font-weight: bold;
  padding-top: 5px;
  border-bottom: solid 4px white;
}

.pic-wrapper{
  position: relative;
}

.pic-tools{
  position: absolute;
  background-color: white;
  width: 100%;
  opacity: 0.6;
  z-index: 30;
  height: 25px;
}

.pic-tools span{
  font-size: 30px;
  float: right;
  margin-right: 15px;
}

.pic-tools span:first-child{
  /*margin-right: 46px;*/
  display: none;
  float: left;
  font-size: 20px;
  margin: 2px;
}

li:first-child .pic-tools span:first-child{
  display: block;
}


.pic-background{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 100px;
  z-index: 10;
}

.pic-wrapper img{
  z-index: 20;
  position: absolute;
}

.image-repeatable{
  height: 110px;
  float: left;
  width: 110px;
  margin-right: 20px;
}

.image-repeatable .dashicons-media-interactive{
  position: absolute;
  z-index: 40;
}

.image-repeatable .custom_upload_image_button{
  /*background-color: red;*/
  position: absolute;
  z-index: 50;
  top: 90px;
  width: 102px;
}

.custom_preview_image{
  width: 100px;
  height: 100px;
}

body .active-button{
  background: #5CB85C !important;
  color: #fff !important;
}

.saved-changes{
  background-color: #5CB85C;
  color: #fff;
  width: 230px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  z-index: 20;
  position: absolute;
}

.event .infos{
  display: none;
}

.event .preview{
  width: 240px;
  margin: 5px 0;
  z-index: 10;
}

.event .preview p{
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.event .edit-date:hover, .event .remove-event:hover{
  cursor: pointer;
}

.preview .calendar {
  background-color: #eee;
  border-top: 6px solid #333;
  box-shadow: 3px 3px 1px #ddd;
  float: left;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 50px;
}

.calendar p{
  width: 100%;
  font-size: 12px;
}

.preview .wrapper{
  height: 70px;
}

.calendar h3{
  width: 100%;
}

.event .calendar .dayname{
  font-weight: bold;
  font-size: 16px;
  height: 17px;
  padding-bottom: 5px;
}

.event .calendar .date{
  margin-bottom: -2px;
}