.saved-changes{
  background-color: #5CB85C;
  color: #fff;
  width: 230px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  z-index: 20;
  position: absolute;
}

body .chosen-container{
  width: 240px !important;
}

.required-values{
  background-color: #FF6666;
  color: #fff;
  width: 230px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  z-index: 20;
  position: absolute;
}

.event .infos{
  display: none;
}

.event .preview{
  width: 240px;
  margin: 5px 0;
  z-index: 10;
}

.event .preview p{
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.event .edit-date:hover, .event .remove-event:hover{
  cursor: pointer;
}

.preview .calendar {
  background-color: #eee;
  border-top: 6px solid #333;
  box-shadow: 3px 3px 1px #ddd;
  float: left;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 50px;
}

.calendar p{
  width: 100%;
  font-size: 12px;
}

.preview .wrapper{
  height: 70px;
}

.calendar h3{
  width: 100%;
}

.event .calendar .dayname{
  font-weight: bold;
  font-size: 16px;
  height: 17px;
  padding-bottom: 5px;
}

.event .calendar .date{
  margin-bottom: -2px;
}

.label-text{
  font-weight: bold;
}

.events > li{
  min-height: 90px;
}

.wrapper h3{
  margin-bottom: 5px;
}

.member-hide{
  display: none;
}

.members-list li{
  border: 1px solid #DDD;
  padding: 5px 10px;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 6px;
  min-height: 20px;
}

.members-list .dashicons{
  float: right;
}

.select-repeater{
  margin-left: 6px;
  margin-bottom: 10px;
}

#lineupentry_members-repeatable > li{
  border: 1px solid #EEE;
  padding-top: 0px;
}

.member-function{
  margin: 5px;
}

#lineupentry_members-repeatable .dashicons-plus-alt{
  font-size: 30px;
  margin-top: 3px;
}

#lineupentry_members-repeatable .dashicons-dismiss{
  font-size: 24px;
  color: #E45A5A;
  padding: 6px 0px 0 7px;
}

#lineupentry_members-repeatable .dashicons:hover{
  cursor: pointer;
}

#lineupentry_members-repeatable .dashicons-trash{
  font-size: 29px;
  margin-top: 3px;
  margin-left: 8px;
}