.saved-changes{
  background-color: #5CB85C;
  color: #fff;
  width: 230px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  z-index: 20;
  position: absolute;
}

body .chosen-container{
  width: 240px !important;
}

.required-values{
  background-color: #FF6666;
  color: #fff;
  width: 230px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  z-index: 20;
  position: absolute;
}

.event .infos{
  display: none;
}

.event .preview{
  width: 240px;
  margin: 5px 0;
  z-index: 10;
}

.event .preview p{
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.event .edit-date:hover, .event .remove-event:hover{
  cursor: pointer;
}

.preview .calendar {
  background-color: #eee;
  border-top: 6px solid #333;
  box-shadow: 3px 3px 1px #ddd;
  float: left;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 50px;
}

.calendar p{
  width: 100%;
  font-size: 12px;
}

.preview .wrapper{
  height: 70px;
}

.calendar h3{
  width: 100%;
}

.event .calendar .dayname{
  font-weight: bold;
  font-size: 16px;
  height: 17px;
  padding-bottom: 5px;
}

.event .calendar .date{
  margin-bottom: -2px;
}

.label-text{
  font-weight: bold;
}

.events > li{
  min-height: 90px;
}