.label-taxonomys .color, .label-overlay .color{
  background-color: red;
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 5px;
}

.remove-label, .edit-label, .add-label{
  float: right;
}

.remove-label:hover, .add-label:hover, .close-label:hover, .edit-label:hover{
  cursor: pointer;
}

.available-label:hover .highlight{
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.6); 
  width: 190px;
  position: absolute;
  height: 20px;
  margin-left: 22px;
}

.available-label:hover .name{
  color: black;
}


.available-label{
  position: relative;
}

.current-labels{
  margin-bottom: 10px;
}

.current-labels div{
  margin-bottom: 5px;
}

.current-label{
  border-radius: 5px;
  padding: 0 6px;
  margin-right: 3px;
}

.label-overlay{
  display: none;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(100, 100, 100, 0.8); 
}

.label-dialog{
  width: 400px;
  margin: auto;
  background-color: #FFFFFF;
  margin-top: 100px;
  padding: 0 10px 10px;
  height: 200px;
}

.create-label{
  /*float: right;*/
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.close-label{
  float: right;
  margin: 5px;
}

.colors{
  margin-left: 10px;
}

#label-preview{
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 6px;
}

.label-preview{
  /*text-align: center;*/
  position: relative;
  height: 80%;
}


.label-data{
  float: left;
  margin-right: 20px;
}

body #poststuff .label-dialog h2{
  padding: 10px 0 0;
  margin: 0;
}